@model List<ExamPrograme.Models.Entities.Student>

@{
    ViewData["Title"] = "Şagirdlərin Siyahısı";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Şagird Əlavə Et</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Əməliyyatlar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@student.Id" class="btn btn-warning">Redaktə Et</a>
                    <a asp-action="Delete" asp-route-id="@student.Id" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
